@import "tailwindcss";

@theme{
  --color-primary: #38ce27;
  --color-accent: #3d77ff;
  --color-secondary: #dddbff;
  --color-background: #fbfbfe;
  --color-text: #03160c;
  --color-border: #dddbff;

  --color-primary-dark: #9dd926;
  --color-secondary-dark: #15426f;
  --color-accent-dark: #411ea9;
  --color-background-dark: #030f11;
  --color-text-dark: #f8fcee;
  --color-border-dark: #dddbff73;
}

[data-theme="dark"] {
  --color-primary: #9dd926;
  --color-secondary: #15426f;
  --color-accent: #411ea9;
  --color-background: #030f11;
  --color-text: #f8fcee;
  --color-border: #15426f;
}

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

* {
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}
.transition-all {
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

body::-webkit-scrollbar{
    /* display: none; */

    width: 3px;
    height: 100%;
}

body::-webkit-scrollbar-track{
    @apply bg-transparent rounded-full z-10
}

body::-webkit-scrollbar-thumb{
    @apply bg-primary/25 rounded-full;
}

#messages::-webkit-scrollbar{
    width: 3px;
    height: 100%;
}

#messages::-webkit-scrollbar-track{
    @apply bg-transparent rounded-full z-10
}

#messages::-webkit-scrollbar-thumb{
    @apply bg-primary/25 rounded-full;
}


.scrollbar-none::-webkit-scrollbar{
    width: 3px;
    height: 100%;
}

.scrollbar-none::-webkit-scrollbar-track{
    @apply bg-transparent rounded-full z-10
}

.scrollbar-none::-webkit-scrollbar-thumb{
    @apply bg-primary/25 rounded-full;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}
